
body{
font-family: 'Poppins', sans-serif;
background-color: #f5d9d5;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: whitesmoke;
}

#mainNavbar .nav-link:hover{
    color: #EA1c2c;
}


#mainNavbar .navbar-brand{
    color: #EA1c2c;

}

